/* css reset */
*{box-sizing: border-box;}
*:before, *:after{box-sizing: border-box;}
*{margin:0; padding:0;}
ul,ol{ list-style: none; }
a{color: inherit; text-decoration: none;}
img{max-width: 100%; max-height: 100%;}

/* style */
body{background: #eee;}

.globalHeader{ 
  margin: 20px;
 }
.searchForm{
  display: flex;
  justify-content: space-between;
}
.searchForm > input{ 
  width: 100%;
  margin-right: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.searchForm > button{ 
  white-space: nowrap;
  padding: 0 28px;
  border: none;
  border-radius: 4px;
  background: #0282B9;
  color: white;
  font-size: 16px;


}

.globalMain{}

.siteList{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.siteList > li{
  margin-bottom: 10px;
}
.siteList .site{
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px 0;
}
.siteList .site > .logo{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
}
.siteList .site > .link{
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton{
  border: 1px solid #ddd;
  background: white;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.siteList .addButton .icon{
  width: 56px;
  height: 56px;
}
.siteList .addButton .text{
  font-size: 14px;
  margin-top: 4px;
}

.siteList .addButton .icon-wrapper{
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}